body {
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url(imagens/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #050505;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 40px; 
}
main {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px #00f7ff;
    display: inline-block;
}
h1 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #00f7ff;
    text-shadow: 0 0 15px #00f7ff;

}
p {
    font-size: 18px;
    margin: 6px 0;
}
select, input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #00f7ff;
    color: white;
    background: #111;
    margin: 8px;
}    

button {
    padding: 10px 18px;
    margin: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}
button:nth-of-type(2) {
    background: #00e676;
    box-shadow: 0 0 10px #00e676;
    color: #000;
}
button:nth-of-type(3):hover {
    background: #ff1744;
    box-shadow: 0 0 15px #ff1744;
}    
#botaoHardcore {
    background: #ff9100;
    box-shadow: 0 0 10px #ff9100;
    color: #000;
}
button:hover{
    transform: scale(1.05);
}
.barra-container {
    width: 350px;
    height: 20px;
    background-color: #222;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 0 10px #00f7ff;
}
#barra-xp{
    height: 100%;
    width: 0%;
    background: limegreen;
    transition: width 0.5s ease;
}
#resultado {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
#mensagemNivel {
    color: gold;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: 0 0 10px gold;
}

  background: radial-gradient(circle at top, #111 0%, #000 70%);